body {
  background-color: #82D580;
  font-size: 30px;
}
body div {
  position: relative;
}

header div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 80px;
  color: #EAEAEA;
}

header div div {
  border: 3px solid rgb(172, 172, 172);
  border-radius: 50px;
  padding: 10px;
  padding-bottom: 5px;
  width: 500px;
}

.input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.input_text {
  width: 400px;
  height: 50px;
  font-size: 30px;
}
.input_btn {
  background-color: rgb(48, 133, 48);
}
.input_btn_remove {
  background-color: rgb(255, 98, 98);
}
.input_btn_select_remove {
  background-color: rgb(255, 98, 98);
}
.output {
 position: relative;
 margin-left: 400px;
 
}

.output div {
  width: 550px;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}
.output_ul .data {
  

  display: inline-block;
}

/* .output_ul .checkbox {
  margin-left: 10px;
} */
